@page
@model Assignment3.Pages.MovieCollectionModel
@{
}


<!--View that lists out all the films that have been entered.-->
<div class="text-center p-2">
    <h2>Here are the movie collections</h2>
    <br />
    <br />
    <!--List table-->
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>Lent to</th><th>Notes</th><th></th></tr>
        </thead>

        <tbody>
            @foreach (var x in Model.Collection.Lines)
            {
                //Exclude input if the movie title is "Independence Day"
                @if (x.MovieInfo.Title.ToUpper() == "INDEPENDENCE DAY")
                {
                }
                //Show input if the movie title is not "Independence Day"
                else
                {
                    <tr>
                        <td>@x.MovieInfo.Category</td>
                        <td>@x.MovieInfo.Title</td>
                        <td>@x.MovieInfo.Year</td>
                        <td>@x.MovieInfo.Director</td>
                        <td>@x.MovieInfo.Rating</td>
                        <td>@x.MovieInfo.Edited</td>
                        <td>@x.MovieInfo.Lent_to</td>
                        <td>@x.MovieInfo.Notes</td>
                        <td class="text-center">
                            <form asp-page-handler="Remove" method="post">
                                <input type="hidden" name="MovieId" value="@x.MovieInfo.MovieId" />
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>